.bundle
db/*.sqlite3
log/*.log
tmp/
supplier_assets/**

# Do not store config in repo
config/*.yml
config/initializers/secret_token.rb

# IDEs, Developer tools
.idea
.rbenv-version
.get-dump.yml

# Capistrano etc
Capfile
config/deploy.rb
Gemfile.capistrano*
