%h1 Artikel bearbeiten
= error_messages_for :article
- form_for(:article, :url => supplier_article_path(@article.supplier, @article), :html => { :method => :put }) do |f|
  = render 'form', :f => f

= link_to 'Show', supplier_article_path(@article.supplier, @article)
|
= link_to 'zurück', supplier_articles_path(@article.supplier)