%h1 Lieferantin bearbeiten
= error_messages_for :supplier
- form_for(:supplier, :url => supplier_path(@supplier), :html => { :method => :put }) do |@f|
  = render :partial => 'form'

= link_to 'Show', supplier_path(@supplier)
|
= link_to 'zurück', suppliers_path