%h1 Lieferantin bearbeiten
= form_for(:supplier, :url => supplier_path(@supplier), :html => { :method => :put }) do |f|
  = render 'form', f: f

= link_to 'Show', supplier_path(@supplier)
|
= link_to 'zurück', suppliers_path