!!!
%html
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    %title=h "SharedLists: " + controller.controller_name
    =  stylesheet_link_tag 'scaffold'
  %body
    #content
      - if flash[:notice]
        %h3{:style => "color: green"}= flash[:notice]
      - if flash[:error]
        %h3{:style => "color: red"}= flash[:error]
      = yield